sensores Jose Angel Rangel Rico/2da tanda/ky020 ballswitch/flows (3).json
[
    {
        "id": "b05da65af15284d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6dd23c4.20d5d",
        "type": "mqtt in",
        "z": "b05da65af15284d8",
        "name": "Recibir MQTT",
        "topic": "utng/arg/sound",
        "qos": "2",
        "datatype": "json",
        "broker": "b43cb77a.8ffbd8",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 190,
        "y": 260,
        "wires": [
            [
                "3e4807af.21c1da",
                "fb26215233afa8e0"
            ]
        ]
    },
    {
        "id": "3e4807af.21c1da",
        "type": "function",
        "z": "b05da65af15284d8",
        "name": "Preparar Datos",
        "func": "var inclination_value = msg.payload.inclination_value;\n\n// Convertir la cadena 'true'/'false' a valor booleano\nif (typeof inclination_value === 'string') {\n    inclination_value = (inclination_value.toLowerCase() === 'true');\n}\n\nreturn {\n    topic: null,\n    payload: inclination_value\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 260,
        "wires": [
            [
                "b80994fc.54e238"
            ]
        ]
    },
    {
        "id": "b80994fc.54e238",
        "type": "postgresql",
        "z": "b05da65af15284d8",
        "name": "Inserción PostgreSQL",
        "query": "INSERT INTO sensor_inclinacion (inclination_value) VALUES (TRUE);\n",
        "postgreSQLConfig": "49c448cf338bd2d2",
        "split": false,
        "rowsPerMsg": "",
        "outputs": 1,
        "x": 620,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "fb26215233afa8e0",
        "type": "debug",
        "z": "b05da65af15284d8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "b43cb77a.8ffbd8",
        "type": "mqtt-broker",
        "name": "Broker MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "49c448cf338bd2d2",
        "type": "postgreSQLConfig",
        "name": "aiot_connection",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "123456",
        "passwordFieldType": "str"
    }
]